@charset "iso-8859-1";
.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(145, 22, 24);
    -fx-background-color: rgba(59, 90, 195, 0.56);

}


.scene {
    -fx-background-color: rgba(65, 74, 108, 0.64);
}

.grid {
    -fx-padding: 1.5;
    -fx-background-color: rgb(0, 0, 0);
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.mylabel {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

.buttons {
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(255, 255, 255);
    /*-fx-effect: dropshadow( one-pass-box , #5b6072, 8 , 0.0 , 2 , 0 );*/
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-color: #fff;
    -fx-box-shadow: size 0 9px #999;


    /*-fx-color-label-visible: rgba(52, 64, 255, 0.07);*/
}

.buttons:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60)
}

.buttons:pressed {
    -fx-background-color: rgba(34, 34, 78, 0.80);
    -fx-box-shadow: size 5px #434656;
    -fx-translate-y: 1px;
}

.color-picker {
    -fx-background-color: rgba(34, 34, 78, 0.45);
    /*-fx-color-label-visible: rgba(52, 64, 255, 0.07);*/
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.color-picker:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60)
}

.color-picker:pressed {
    -fx-background-color: rgba(34, 34, 78, 0.80);
    -fx-box-shadow: size 5px #434656;
    -fx-translate-y: 1px;
}

.check-box {
    -fx-padding: 2;

    -fx-text-fill: rgb(0, 0, 0);
}

.check-box:hover {
    -fx-padding: 2;
    -fx-font-smoothing-type: bold;
}


.menu-bar {
    -fx-padding: 2;
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-text-fill: rgb(255, 255, 255);

}

.blankCell {
    -fx-background-color: rgba(0, 0, 0, 255);
}

.headCell {
    -fx-background-color: rgb(207, 31, 34);
}

.tailCell {
    -fx-background-color: rgb(71, 110, 183);
}

.conductorCell {
    -fx-background-color: rgb(241, 237, 102);
}

/*
#tile0001 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0002 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0003 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0004 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0005 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0006 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0007 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0008 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0009 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0010 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0011 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0012 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0013 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0014 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0015 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0016 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0017 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0018 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0019 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0020 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0021 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0022 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0023 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0100 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0101 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0102 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0103 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0104 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0105 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0106 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0107 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0108 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0109 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0110 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0111 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0112 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0113 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0114 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0115 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0116 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0117 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0118 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0119 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0120 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0121 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0122 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0123 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0200 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0201 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0202 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0203 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0204 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0205 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0206 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0207 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0208 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0209 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0210 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0211 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0212 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0213 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0214 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0215 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0216 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0217 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0218 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0219 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0220 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0221 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0222 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0223 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0300 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0301 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0302 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0303 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0304 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0305 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0306 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0307 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0308 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0309 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0310 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0311 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0312 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0313 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0314 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0315 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0316 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0317 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0318 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0319 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0320 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0321 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0322 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0323 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0400 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0401 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0402 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0403 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0404 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0405 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0406 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0407 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0408 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0409 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0410 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0411 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0412 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0413 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0414 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0415 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0416 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0417 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0418 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0419 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0420 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0421 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0422 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0423 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0500 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0501 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0502 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0503 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0504 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0505 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0506 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0507 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0508 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0509 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0510 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0511 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0512 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0513 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0514 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0515 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0516 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0517 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0518 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0519 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0520 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0521 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0522 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0523 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0600 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0601 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0602 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0603 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0604 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0605 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0606 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0607 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0608 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0609 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0610 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0611 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0612 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0613 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0614 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0615 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0616 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0617 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0618 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0619 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0620 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0621 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0622 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0623 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0700 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0701 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0702 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0703 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0704 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0705 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0706 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0707 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0708 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0709 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0710 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0711 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0712 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0713 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0714 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0715 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0716 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0717 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0718 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0719 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0720 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0721 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0722 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0723 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0800 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0801 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0802 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0803 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0804 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0805 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0806 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0807 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0808 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0809 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0810 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0811 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0812 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0813 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0814 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0815 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0816 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0817 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0818 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0819 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0820 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0821 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0822 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0823 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0900 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0901 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0902 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0903 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0904 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0905 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0906 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0907 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0908 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0909 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0910 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0911 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0912 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0913 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0914 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0915 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0916 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0917 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0918 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0919 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0920 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0921 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0922 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile0923 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1000 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1001 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1002 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1003 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1004 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1005 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1006 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1007 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1008 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1009 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1010 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1011 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1012 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1013 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1014 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1015 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1016 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1017 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1018 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1019 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1020 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1021 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1022 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1023 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1100 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1101 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1102 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1103 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1104 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1105 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1106 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1107 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1108 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1109 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1110 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1111 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1112 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1113 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1114 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1115 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1116 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1117 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1118 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1119 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1120 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1121 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1122 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1123 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1200 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1201 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1202 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1203 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1204 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1205 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1206 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1207 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1208 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1209 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1210 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1211 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1212 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1213 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1214 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1215 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1216 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1217 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1218 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1219 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1220 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1221 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1222 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1223 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1300 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1301 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1302 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1303 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1304 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1305 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1306 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1307 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1308 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1309 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1310 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1311 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1312 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1313 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1314 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1315 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1316 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1317 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1318 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1319 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1320 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1321 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1322 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1323 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1400 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1401 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1402 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1403 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1404 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1405 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1406 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1407 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1408 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1409 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1410 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1411 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1412 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1413 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1414 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1415 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1416 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1417 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1418 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1419 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1420 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1421 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1422 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1423 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1500 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1501 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1502 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1503 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1504 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1505 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1506 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1507 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1508 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1509 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1510 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1511 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1512 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1513 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1514 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1515 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1516 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1517 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1518 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1519 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1520 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1521 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1522 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1523 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1600 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1601 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1602 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1603 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1604 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1605 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1606 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1607 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1608 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1609 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1610 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1611 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1612 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1613 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1614 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1615 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1616 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1617 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1618 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1619 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1620 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1621 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1622 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1623 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1700 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1701 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1702 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1703 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1704 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1705 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1706 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1707 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1708 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1709 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1710 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1711 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1712 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1713 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1714 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1715 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1716 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1717 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1718 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1719 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1720 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1721 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1722 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1723 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1800 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1801 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1802 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1803 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1804 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1805 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1806 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1807 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1808 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1809 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1810 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1811 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1812 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1813 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1814 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1815 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1816 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1817 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1818 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1819 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1820 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1821 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1822 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1823 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1900 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1901 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1902 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1903 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1904 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1905 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1906 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1907 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1908 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1909 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1910 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1911 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1912 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1913 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1914 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1915 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1916 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1917 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1918 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1919 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1920 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1921 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1922 {
    -fx-background-color: rgba(0,0,0, 255);
}
#tile1923 {
    -fx-background-color: rgba(0,0,0, 255);
}
*/
