.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
}


.scene {
    -fx-background-color: rgba(65, 74, 108, 0.64);
}

.grid {
    -fx-padding: 3;
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-grid-lines-visible: true;
}

.mylabel {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 10;
    -fx-background-radius: 10;

}

.buttons {
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-cursor: pointer;
    -fx-outline: none;
    -fx-color: #fff;
    -fx-box-shadow: size 0 9px #999;

}

.buttons:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60)
}

.buttons:pressed {
    -fx-background-color: rgba(34, 34, 78, 0.80);
    -fx-box-shadow: size 5px #434656;
    -fx-translate-y: 1px;
}

.color-picker {
    -fx-background-color: rgba(34, 34, 78, 0.45);
    /*-fx-color-label-visible: rgba(52, 64, 255, 0.07);*/
    -fx-padding: 2;
    -fx-border-color: rgb(0, 0, 0);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(255, 255, 255);
}

.color-picker:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60)
}

.color-picker:pressed {
    -fx-background-color: rgba(34, 34, 78, 0.80);
    -fx-box-shadow: size 5px #434656;
    -fx-translate-y: 1px;
}

.check-box {
    -fx-padding: 2;
    -fx-text-fill: rgb(0, 0, 0);
}

.check-box:hover {
    -fx-padding: 2;
    -fx-font-smoothing-type: bold;
}

.button-bar {
    -fx-padding: 2;
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-fill: rgb(255, 255, 255);
}

.myDialog {
    -fx-background-color: rgba(34, 34, 78, 0.45);
}

.myDialog > *.button-bar > *.container {
    -fx-background-color: rgba(34, 34, 78, 0.45);
}

.myDialog > *.label.content {
    -fx-font-size: 12px;

}

.myDialog .header-panel {
    -fx-background-color: rgba(34, 34, 78, 0.45);
}

.myDialog .header-panel .label {
    -fx-content-display: center;
    -fx-text-alignment: center;
    -fx-font-size: 18px;
    -fx-font-style: italic bold;
    -fx-fill: #292929;

}

.menu-bar {
    -fx-padding: 2;
    -fx-background-color: rgba(34, 34, 78, 0.45);
    -fx-text-fill: rgb(255, 255, 255);
    -fx-fill: rgb(255, 255, 255);
}

.menu {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-fill: rgb(255, 255, 255);
}

.menu:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.menu:showing {
    -fx-background-color: rgba(34, 34, 78, 0.60);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.menu-item:row-selection
{
    -fx-background-color: rgba(34, 34, 78, 0.60);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(255, 255, 255);

}

.gridbutton {
    -fx-background-color: rgba(0, 0, 0, 255);
    -fx-padding: 0.5;
}

.menu-item:hover {
    -fx-background-color: rgba(34, 34, 78, 0.60);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: rgb(255, 255, 255);
}